<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usoft.sschool_teacher.mapper.HlSchoolyearMapper" >
  <resultMap id="BaseResultMap" type="com.usoft.smartschool.pojo.HlSchoolyear" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="YearName" property="yearname" jdbcType="VARCHAR" />
    <result column="YearStart" property="yearstart" jdbcType="TIMESTAMP" />
    <result column="YearEnd" property="yearend" jdbcType="TIMESTAMP" />
    <result column="isNowYear" property="isnowyear" jdbcType="INTEGER" />
    <result column="SchoolType" property="schooltype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, YearName, YearStart, YearEnd, isNowYear, SchoolType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.usoft.smartschool.pojo.HlSchoolyearExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hl_schoolyear
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hl_schoolyear
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hl_schoolyear
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.usoft.smartschool.pojo.HlSchoolyearExample" >
    delete from hl_schoolyear
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.usoft.smartschool.pojo.HlSchoolyear" >
    insert into hl_schoolyear (id, YearName, YearStart, 
      YearEnd, isNowYear, SchoolType
      )
    values (#{id,jdbcType=INTEGER}, #{yearname,jdbcType=VARCHAR}, #{yearstart,jdbcType=TIMESTAMP}, 
      #{yearend,jdbcType=TIMESTAMP}, #{isnowyear,jdbcType=INTEGER}, #{schooltype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.usoft.smartschool.pojo.HlSchoolyear" >
    insert into hl_schoolyear
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="yearname != null" >
        YearName,
      </if>
      <if test="yearstart != null" >
        YearStart,
      </if>
      <if test="yearend != null" >
        YearEnd,
      </if>
      <if test="isnowyear != null" >
        isNowYear,
      </if>
      <if test="schooltype != null" >
        SchoolType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yearname != null" >
        #{yearname,jdbcType=VARCHAR},
      </if>
      <if test="yearstart != null" >
        #{yearstart,jdbcType=TIMESTAMP},
      </if>
      <if test="yearend != null" >
        #{yearend,jdbcType=TIMESTAMP},
      </if>
      <if test="isnowyear != null" >
        #{isnowyear,jdbcType=INTEGER},
      </if>
      <if test="schooltype != null" >
        #{schooltype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.usoft.smartschool.pojo.HlSchoolyearExample" resultType="java.lang.Integer" >
    select count(*) from hl_schoolyear
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hl_schoolyear
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.yearname != null" >
        YearName = #{record.yearname,jdbcType=VARCHAR},
      </if>
      <if test="record.yearstart != null" >
        YearStart = #{record.yearstart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yearend != null" >
        YearEnd = #{record.yearend,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isnowyear != null" >
        isNowYear = #{record.isnowyear,jdbcType=INTEGER},
      </if>
      <if test="record.schooltype != null" >
        SchoolType = #{record.schooltype,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hl_schoolyear
    set id = #{record.id,jdbcType=INTEGER},
      YearName = #{record.yearname,jdbcType=VARCHAR},
      YearStart = #{record.yearstart,jdbcType=TIMESTAMP},
      YearEnd = #{record.yearend,jdbcType=TIMESTAMP},
      isNowYear = #{record.isnowyear,jdbcType=INTEGER},
      SchoolType = #{record.schooltype,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.usoft.smartschool.pojo.HlSchoolyear" >
    update hl_schoolyear
    <set >
      <if test="yearname != null" >
        YearName = #{yearname,jdbcType=VARCHAR},
      </if>
      <if test="yearstart != null" >
        YearStart = #{yearstart,jdbcType=TIMESTAMP},
      </if>
      <if test="yearend != null" >
        YearEnd = #{yearend,jdbcType=TIMESTAMP},
      </if>
      <if test="isnowyear != null" >
        isNowYear = #{isnowyear,jdbcType=INTEGER},
      </if>
      <if test="schooltype != null" >
        SchoolType = #{schooltype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usoft.smartschool.pojo.HlSchoolyear" >
    update hl_schoolyear
    set YearName = #{yearname,jdbcType=VARCHAR},
      YearStart = #{yearstart,jdbcType=TIMESTAMP},
      YearEnd = #{yearend,jdbcType=TIMESTAMP},
      isNowYear = #{isnowyear,jdbcType=INTEGER},
      SchoolType = #{schooltype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>