<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usoft.sschool_pub.mapper.ClassroomInfoMapper" >
  <resultMap id="BaseResultMap" type="com.usoft.smartschool.pojo.ClassroomInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="clarm_belongflr" property="clarmBelongflr" jdbcType="INTEGER" />
    <result column="clarm_No" property="clarmNo" jdbcType="VARCHAR" />
    <result column="clarm_name" property="clarmName" jdbcType="VARCHAR" />
    <result column="clarm_belongbuild" property="clarmBelongbuild" jdbcType="INTEGER" />
    <result column="clarm_usesys" property="clarmUsesys" jdbcType="INTEGER" />
    <result column="clarm_remark" property="clarmRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clarm_belongflr, clarm_No, clarm_name, clarm_belongbuild, clarm_usesys, clarm_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.usoft.smartschool.pojo.ClassroomInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classroom_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.usoft.smartschool.pojo.ClassroomInfoKey" >
    select 
    <include refid="Base_Column_List" />
    from classroom_info
    where id = #{id,jdbcType=INTEGER}
      and clarm_belongflr = #{clarmBelongflr,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.usoft.smartschool.pojo.ClassroomInfoKey" >
    delete from classroom_info
    where id = #{id,jdbcType=INTEGER}
      and clarm_belongflr = #{clarmBelongflr,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.usoft.smartschool.pojo.ClassroomInfoExample" >
    delete from classroom_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.usoft.smartschool.pojo.ClassroomInfo" >
    insert into classroom_info (id, clarm_belongflr, clarm_No, 
      clarm_name, clarm_belongbuild, clarm_usesys, 
      clarm_remark)
    values (#{id,jdbcType=INTEGER}, #{clarmBelongflr,jdbcType=INTEGER}, #{clarmNo,jdbcType=VARCHAR}, 
      #{clarmName,jdbcType=VARCHAR}, #{clarmBelongbuild,jdbcType=INTEGER}, #{clarmUsesys,jdbcType=INTEGER}, 
      #{clarmRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.usoft.smartschool.pojo.ClassroomInfo" >
    insert into classroom_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clarmBelongflr != null" >
        clarm_belongflr,
      </if>
      <if test="clarmNo != null" >
        clarm_No,
      </if>
      <if test="clarmName != null" >
        clarm_name,
      </if>
      <if test="clarmBelongbuild != null" >
        clarm_belongbuild,
      </if>
      <if test="clarmUsesys != null" >
        clarm_usesys,
      </if>
      <if test="clarmRemark != null" >
        clarm_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clarmBelongflr != null" >
        #{clarmBelongflr,jdbcType=INTEGER},
      </if>
      <if test="clarmNo != null" >
        #{clarmNo,jdbcType=VARCHAR},
      </if>
      <if test="clarmName != null" >
        #{clarmName,jdbcType=VARCHAR},
      </if>
      <if test="clarmBelongbuild != null" >
        #{clarmBelongbuild,jdbcType=INTEGER},
      </if>
      <if test="clarmUsesys != null" >
        #{clarmUsesys,jdbcType=INTEGER},
      </if>
      <if test="clarmRemark != null" >
        #{clarmRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.usoft.smartschool.pojo.ClassroomInfoExample" resultType="java.lang.Integer" >
    select count(*) from classroom_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classroom_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clarmBelongflr != null" >
        clarm_belongflr = #{record.clarmBelongflr,jdbcType=INTEGER},
      </if>
      <if test="record.clarmNo != null" >
        clarm_No = #{record.clarmNo,jdbcType=VARCHAR},
      </if>
      <if test="record.clarmName != null" >
        clarm_name = #{record.clarmName,jdbcType=VARCHAR},
      </if>
      <if test="record.clarmBelongbuild != null" >
        clarm_belongbuild = #{record.clarmBelongbuild,jdbcType=INTEGER},
      </if>
      <if test="record.clarmUsesys != null" >
        clarm_usesys = #{record.clarmUsesys,jdbcType=INTEGER},
      </if>
      <if test="record.clarmRemark != null" >
        clarm_remark = #{record.clarmRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classroom_info
    set id = #{record.id,jdbcType=INTEGER},
      clarm_belongflr = #{record.clarmBelongflr,jdbcType=INTEGER},
      clarm_No = #{record.clarmNo,jdbcType=VARCHAR},
      clarm_name = #{record.clarmName,jdbcType=VARCHAR},
      clarm_belongbuild = #{record.clarmBelongbuild,jdbcType=INTEGER},
      clarm_usesys = #{record.clarmUsesys,jdbcType=INTEGER},
      clarm_remark = #{record.clarmRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.usoft.smartschool.pojo.ClassroomInfo" >
    update classroom_info
    <set >
      <if test="clarmNo != null" >
        clarm_No = #{clarmNo,jdbcType=VARCHAR},
      </if>
      <if test="clarmName != null" >
        clarm_name = #{clarmName,jdbcType=VARCHAR},
      </if>
      <if test="clarmBelongbuild != null" >
        clarm_belongbuild = #{clarmBelongbuild,jdbcType=INTEGER},
      </if>
      <if test="clarmUsesys != null" >
        clarm_usesys = #{clarmUsesys,jdbcType=INTEGER},
      </if>
      <if test="clarmRemark != null" >
        clarm_remark = #{clarmRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and clarm_belongflr = #{clarmBelongflr,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usoft.smartschool.pojo.ClassroomInfo" >
    update classroom_info
    set clarm_No = #{clarmNo,jdbcType=VARCHAR},
      clarm_name = #{clarmName,jdbcType=VARCHAR},
      clarm_belongbuild = #{clarmBelongbuild,jdbcType=INTEGER},
      clarm_usesys = #{clarmUsesys,jdbcType=INTEGER},
      clarm_remark = #{clarmRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and clarm_belongflr = #{clarmBelongflr,jdbcType=INTEGER}
  </update>
</mapper>