<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usoft.sschool_student.mapper.XnStuHomeworkMapper" >
  <resultMap id="BaseResultMap" type="com.usoft.smartschool.pojo.XnStuHomework" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="StuID" property="stuid" jdbcType="INTEGER" />
    <result column="hwId" property="hwid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="answerContent" property="answercontent" jdbcType="VARCHAR" />
    <result column="submitTime" property="submittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, StuID, hwId, state, type, answerContent, submitTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.usoft.smartschool.pojo.XnStuHomeworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xn_stu_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

<!--查询待做作业并按照倒序排序-->
  <select id="selectByXnNotHomework" resultMap="BaseResultMap" parameterType="com.usoft.smartschool.pojo.XnStuHomeworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xn_stu_homework
        left join  xn_homework_manage xhm on xhm.ID=xn_stu_homework.hwId
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by xhm.expireTime DESC
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xn_stu_homework
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xn_stu_homework
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.usoft.smartschool.pojo.XnStuHomeworkExample" >
    delete from xn_stu_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.usoft.smartschool.pojo.XnStuHomework" >
    insert into xn_stu_homework (ID, StuID, hwId, 
      state, type, answerContent, 
      submitTime)
    values (#{id,jdbcType=INTEGER}, #{stuid,jdbcType=INTEGER}, #{hwid,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{answercontent,jdbcType=VARCHAR}, 
      #{submittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.usoft.smartschool.pojo.XnStuHomework" >
    insert into xn_stu_homework
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stuid != null" >
        StuID,
      </if>
      <if test="hwid != null" >
        hwId,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="answercontent != null" >
        answerContent,
      </if>
      <if test="submittime != null" >
        submitTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="hwid != null" >
        #{hwid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="answercontent != null" >
        #{answercontent,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        #{submittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.usoft.smartschool.pojo.XnStuHomeworkExample" resultType="java.lang.Integer" >
    select count(*) from xn_stu_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xn_stu_homework
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuid != null" >
        StuID = #{record.stuid,jdbcType=INTEGER},
      </if>
      <if test="record.hwid != null" >
        hwId = #{record.hwid,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.answercontent != null" >
        answerContent = #{record.answercontent,jdbcType=VARCHAR},
      </if>
      <if test="record.submittime != null" >
        submitTime = #{record.submittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xn_stu_homework
    set ID = #{record.id,jdbcType=INTEGER},
      StuID = #{record.stuid,jdbcType=INTEGER},
      hwId = #{record.hwid,jdbcType=INTEGER},
      state = #{record.state,jdbcType=TINYINT},
      type = #{record.type,jdbcType=TINYINT},
      answerContent = #{record.answercontent,jdbcType=VARCHAR},
      submitTime = #{record.submittime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.usoft.smartschool.pojo.XnStuHomework" >
    update xn_stu_homework
    <set >
      <if test="stuid != null" >
        StuID = #{stuid,jdbcType=INTEGER},
      </if>
      <if test="hwid != null" >
        hwId = #{hwid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="answercontent != null" >
        answerContent = #{answercontent,jdbcType=VARCHAR},
      </if>
      <if test="submittime != null" >
        submitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usoft.smartschool.pojo.XnStuHomework" >
    update xn_stu_homework
    set StuID = #{stuid,jdbcType=INTEGER},
      hwId = #{hwid,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      answerContent = #{answercontent,jdbcType=VARCHAR},
      submitTime = #{submittime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>