<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usoft.sschool_manage.mapper.base.XnCarouselMapper">
  <resultMap id="BaseResultMap" type="com.usoft.smartschool.pojo.XnCarousel">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="TINYINT" property="position" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="ImgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="LinkHtml" jdbcType="VARCHAR" property="linkhtml" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CreateUser" jdbcType="VARCHAR" property="createuser" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, `position`, `type`, `order`, ImgUrl, LinkHtml, CreateTime, CreateUser, UID
  </sql>
  <select id="selectByExample" parameterType="com.usoft.smartschool.pojo.XnCarouselExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xn_carousel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xn_carousel
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xn_carousel
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.usoft.smartschool.pojo.XnCarouselExample">
    delete from xn_carousel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.usoft.smartschool.pojo.XnCarousel">
    insert into xn_carousel (ID, `position`, `type`,
      `order`, ImgUrl, LinkHtml,
      CreateTime, CreateUser, UID
      )
    values (#{id,jdbcType=INTEGER}, #{position,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, 
      #{order,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}, #{linkhtml,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.usoft.smartschool.pojo.XnCarousel">
    insert into xn_carousel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="order != null">
        `order`,
      </if>
      <if test="imgurl != null">
        ImgUrl,
      </if>
      <if test="linkhtml != null">
        LinkHtml,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="createuser != null">
        CreateUser,
      </if>
      <if test="uid != null">
        UID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkhtml != null">
        #{linkhtml,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.usoft.smartschool.pojo.XnCarouselExample" resultType="java.lang.Integer">
    select count(*) from xn_carousel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xn_carousel
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        `position` = #{record.position,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.order != null">
        `order`= #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.imgurl != null">
        ImgUrl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.linkhtml != null">
        LinkHtml = #{record.linkhtml,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuser != null">
        CreateUser = #{record.createuser,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        UID = #{record.uid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xn_carousel
    set ID = #{record.id,jdbcType=INTEGER},
      `position` = #{record.position,jdbcType=TINYINT},
      `type` = #{record.type,jdbcType=TINYINT},
      `order` = #{record.order,jdbcType=INTEGER},
      ImgUrl = #{record.imgurl,jdbcType=VARCHAR},
      LinkHtml = #{record.linkhtml,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateUser = #{record.createuser,jdbcType=VARCHAR},
      UID = #{record.uid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.usoft.smartschool.pojo.XnCarousel">
    update xn_carousel
    <set>
      <if test="position != null">
        `position` = #{position,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        ImgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkhtml != null">
        LinkHtml = #{linkhtml,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null">
        CreateUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        UID = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usoft.smartschool.pojo.XnCarousel">
    update xn_carousel
    set position = #{position,jdbcType=TINYINT},
      `type` = #{type,jdbcType=TINYINT},
      `order` = #{order,jdbcType=INTEGER},
      ImgUrl = #{imgurl,jdbcType=VARCHAR},
      LinkHtml = #{linkhtml,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateUser = #{createuser,jdbcType=VARCHAR},
      UID = #{uid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>